<div class="connection">
  <div class="title">
    <h1>Connexion</h1>
  </div>
  <div class="input">
    <mat-form-field class="input-login">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="userMail" type="email" required email />
    </mat-form-field>
    <div class="clear cursor-pointer" (click)="clearUserMail()">
      <span class="material-icons">
        clear
      </span>
    </div>
  </div>
  <div class="input">
    <mat-form-field class="input-login">
      <mat-label>Code PIN</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        maxlength="6"
        placeholder="Tapez votre code sur le pavé numérique"
        [(ngModel)]="pwd"
        disabled
        class="input-pwd"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="hide-btn">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="clear cursor-pointer" (click)="clearPwd()">
      <span class="material-icons">
        clear
      </span>
    </div>
  </div>
  <div class="keyboard">
    <div class="flex-between">
      <button mat-icon-button *ngFor="let key of keys1" class="key" (click)="touch(key)">
        {{ key }}
      </button>
    </div>
    <div class="flex-between">
      <button mat-icon-button *ngFor="let key of keys2" class="key" (click)="touch(key)">
        {{ key }}
      </button>
    </div>
  </div>
  <div class="auth-validate">
    <button (click)="login()" class="auth-btn" mat-raised-button>Valider</button>
  </div>
  <div *ngIf="showError">
    <p class="error">Veuillez remplir les champs Email et Code PIN.</p>
  </div>
</div>
