.connection h1 {
  text-transform: uppercase;
  text-align: center;
  color: #062b93;
  margin-bottom: 50px;
}

.connection .input {
  display: flex;
  margin-bottom: 15px;
}

.connection .clear {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 0 10px;
}

.connection label {
  font-size: 12px;
}

.connection .input-login {
  margin: 10px 0;
}

.connection .input .input-login {
  color: black;
  font-size: 14px !important;
  margin: 5px 0;
  width: 80vw;
}

.connection .input .input-information {
  color: black;
  font-size: 14px !important;
  width: 11.5vw;
  margin-right: 2vw;
}

.input-pwd {
  position: relative;
  top: 6px;
  border-bottom: 1px solid #5e6679;
  opacity: 1 !important;
}

.hide-btn {
  border-bottom: 1px solid black;
  padding: 0 4px 9px;
  opacity: 0.7;
}

.connection .keyboard {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

/* Keyboard for PIN code */
.connection .keyboard {
  margin: 50px 0;
}
.connection .key {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  text-align: center;
  line-height: 34px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  margin-top: 5px;
  background-color: #383838;
  margin: 5px 0;
  box-shadow: 0px 5px 3px lightgrey;
}

.auth-validate {
  display: flex;
  justify-content: center;
}

.connection .auth-btn {
  margin: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding: 0 20px;
  border-radius: 2px;
  background-color: #2d2e32;
  color: white;
  text-transform: uppercase;
}

.error {
  color: red;
}

/*_________________Rules for Desktop version_________________  */
@media screen and (min-width: 1024px) {
  .keyboard .key:hover,
  .auth-validate .auth-btn:hover {
    background-color: #062b93;
    transition: all 0.5s ease-in-out;
  }
}
