/*_________________Rules for Mobile version_________________  */
:host {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/img/mustang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h3 {
  position: absolute;
  top: 3vh;
  width: 100vw;
  font-family: 'Recursive', sans-serif;
  color: white;
  z-index: 1;
  font-size: 12px;
  text-align: center;
}

.container {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
  border-radius: 3px;
  margin: auto;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}

/*_____________ Card Form _____________*/
.content-form {
  position: absolute;
  top: 23vh;
  color: black;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  width: 80vw;
  height: 66vh;
  overflow-y: scroll;
}

.auth-validate {
  display: flex;
  justify-content: center;
}

.content-form .auth-btn {
  margin: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding: 0 20px;
  border-radius: 2px;
  background-color: #2d2e32;
  color: white;
  text-transform: uppercase;
}

/*_____________ Content Text _____________*/

.content-text-register,
.content-text-connection {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 6vh;
  padding: 30px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.content-text-register h2,
.content-text-connection h2 {
  font-size: 14px;
  margin-right: 10px;
  text-transform: uppercase;
}

.content-text-connection p,
.content-text-register p,
.content-text-connection img,
.content-text-register img {
  display: none;
}

.action-btn {
  color: white;
  border-color: white !important;
  transition: all 0.3s ease-in-out;
}

.action-btn:hover {
  color: black;
  background-color: white !important;
}

.op {
  opacity: 1;
}

/*_________________Rules for Desktop version_________________  */
@media screen and (min-width: 1024px) {
  h3 {
    right: 1vw;
    display: block;
    font-size: 20px;
    margin: 10px;
    text-align: right;
  }

  .container {
    height: 60vh;
    width: 50vw;
    left: -14vw !important;
  }

  /*_____________ Card Form _____________*/
  .content-form {
    position: absolute;
    top: -8vh;
    padding: 3vh 3vh 0;
    right: 0;
    height: 70vh;
    width: 25vw;
    background-color: white;
    color: black;
    border-radius: 3px;
    margin-left: 0;
    transition: all 0.5s cubic-bezier(0.83, 1.95, 0.71, 0.65);
  }

  /* Moving form card  */
  .move {
    margin-right: 23vw;
    transition: all 0.5s cubic-bezier(0.83, 1.95, 0.71, 0.65);
  }

  /*_____________ Content Text _____________*/
  .content-text-register {
    text-align: right;
    position: absolute;
    left: 10px;
  }

  .content-text-connection {
    position: absolute;
    right: 10px;
  }

  .content-text-connection,
  .content-text-register {
    display: inherit;
    align-items: inherit;
    display: block;
    width: 15vw;
  }

  .content-text-register h2,
  .content-text-connection h2 {
    margin-right: 0;
  }

  .content-text-register p,
  .content-text-connection p {
    display: block;
    margin-bottom: 20px;
  }

  .content-text-connection img,
  .content-text-register img {
    display: block;
    width: 80px;
    margin-top: 12vh;
    opacity: 0.8;
  }

  .content-text-register .car {
    position: absolute;
    top: 25vh;
    right: 3vw;
    width: 10vw;
  }

  .register-btn {
    position: absolute;
    right: 2vw;
  }
}
